body{
	text-align:center;
	
}
.f-container{
	display:flex;
	background-color:#107ca3;
	height:100px;
	width:500px;
	/*justify-content:space-evenly;*/
	align-items:center;
	margin-bottom:10px;
	
	
}
.f-container .f-item{
	background-color:#da6ed7;
	color:#fff;
	height:50px;
	width:50px;
	padding:5px;
	margin-left:10px;
	margin-right:10px;
	
}
.rel{
	position:relative;
	left:20px;
	bottom:20px;
}
.abs{
	position:absolute;
	left: 60px;
    top: 5px;
}
.fix{
	position:fixed;
	right: 10px;
    bottom: 5px;
}
.f-container .fc2{
	background-color:#ef7110;
	color:#fff;
}
.f-container .fc3{
	background-color:#d110ef;
	color:#fff;
}
.f-container .fc4{
	background-color:#efce10;
}
